body{
    font: "Lucida Console", Monaco, monospace;
    margin:0px;
}
header{
   padding: 20px 20px 20px 30px;
   background: url("logo.png") #EFE8D5 30px 30px no-repeat;
   background-size: 4em;
}
#content{
    padding: 40px;
}


h1{
   padding-left: 80px;
}
.movie{
   max-width: 200px;
   display: inline-block;
   vertical-align: top;
   padding: 10px;
   margin:10px;
}
.movie img{
   width: 200px;
   height:284px;
   display: block;
}
.movie span{
   font-size: 0.9em;
}
.movie span.real{
   color: grey;
   font-size: 0.9em;
}

#menu{
    padding: 20px 40px;
    float: right;
    text-align: center;
}

#menu .nav{
  text-align: center;
}

#menu div{
    display: inline-block;
    margin: 0 0 0 10px;
}
